<h5>Login</h5>

<form action="/sessions" method="POST">
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="Login">
</form>
